.idea
/wp-admin
/wp-includes
/wp-content/plugins/*
!/wp-content/plugins/bb-woo-intcomex/
/wp-content/plugins/bb-woo-intcomex/vendor/
/wp-content/themes/*
!/wp-content/theme/woodmart-child/
/wp-content/uploads
/wp-content/upgrade
/wp-content/languages/*
/wp-config.php
/wp-settings.php
/wp-load.php
/wp-activate.php
/wp-trackback.php
/readme.html
/index.php
/xmlrpc.php
/wp-mail.php
/wp-cron.php
/wp-signup.php
/.htaccess
/wp-config-sample.php
/wp-links-opml.php
/wp-blog-header.php
/licencia.txt
/license.txt
/wp-comments-post.php
/wp-login.php
*~